<!DOCTYPE html>
<html lang="en"  ng-app="iftttApp">
<link rel="stylesheet" type="text/css" href="./../css/registration/registration.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="./bower_components/moment/moment.js"></script>
<script>src="./bower_componets/moment-timezone/moment-timezone-with-data.js" </script>
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body>

<br>
<br>
<br>

<div id="registratiom-page" class="container-fluid">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
        </div>

        <div class="col-md-6">
            <div id="registration-jumbotron" class="jumbotron">
                <form id="registration-form" role="form" name="form" ng-controller="loginController" novalidate>

                    <div class="container">
                        <!--Username -->

                        <div class="form-group">
                            <label style="color:rgba(255, 255, 255, 0.78)">
                                Username:
                            </label>
                            <input type="username" class="form-control" id="username" name="user"
                                   placeholder="username"  ng-model="user.name" required>
                            <div ng-show="form.user.$invalid && !form.user.$pristine || form.$submitted || form.user.$touched">
                                    <span ng-show="form.user.$error.required" style="color: #b81900">
                                        The user is mandatory
                                    </span>
                             </div>

                                    <br>
                                    <!--Password-->
                                <div class="form-group">
                                    <label style="color:rgba(255, 255, 255, 0.78)">Password:</label>
                                    <input type="password" class="form-control" id="pwd" placeholder="insert your password" required=""
                                       ng-model="user.pwd" name="pwd"
                                       ng-minlength="2"
                                       ng-maxlength="20">
                                    <div ng-show="form.pwd.$invalid && !form.pwd.$pristine || form.$submitted || form.pwd.$touched">
                                        <span ng-show="form.pwd.$error.required" style="color: #b81900">The password is mandatory</span>
                                        <span ng-show="form.pwd.$error.minlength" style="color: #b81900">Password is too short.</span>
                                        <span ng-show="form.pwd.$error.maxlength" style="color: #b81900">Password is too long.</span>
                                    </div>
                                </div>



                            <!--Lunghezza minima della password: 10 caratteri
                            Lunghezza massima della password: 20 caratteri
                            Standard del polito : https://idp.polito.it/Chpass/chpassservlet/main.htm
                            Per i test la password minima è stata messa a 2 caratteri.
                            -->


                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <button  type="submit" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="loginCheck(user)">Submit</button>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                        <div class="col-md-4">
                                            <div align="center">
                                                <a href="#recoveruserpassword" style="color:rgba(255, 255, 255, 0.78)">Password dimenticata?</a>
                                            </div>
                                        </div>
                                </div>      </div>
                            </div>
                    </div>

                </form>

            </div>
        </div>

        <div class="col-md-1">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>



<!-------------->





</body>
</html>