<!DOCTYPE html>
<html lang="en"  ng-app="iftttApp">
<link rel="stylesheet" type="text/css" href="./../css/registration/registration.css">

<head>
    <meta charset="UTF-8">
    <title>Recovery</title>
</head>
<body>

<br>
<br>
<br>

<div id="registratiom-page" class="container-fluid">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
        </div>

        <div class="col-md-6">
            <div id="registration-jumbotron" class="jumbotron">
                <form id="registration-form" role="form" name="form" ng-controller="recoveruserpasswordController" novalidate>
                    <div class="container">
                        <!--E.mail-->
                            <div class="form-group">

                                <label style="color:rgba(255, 255, 255, 0.78)">Insert your email in order to recovery your password and user:</label>
                                <input type="email" class="form-control" id="email" placeholder="insert your email" ng-model="user.email" required="" name="uEmail" >
                                <div ng-show="form.$submitted || form.uEmail.$touched">
                                    <span ng-show="form.uEmail.$error.required" style="color: #b81900">The email is mandatory</span>
                                    <span ng-show="form.uEmail.$error.email"   style="color: #b81900">This is not a valid email</span>
                                </div>
                            </div>

                            <button  type="submit" class="btn btn-primary" ng-click="recoverPasEuser(user)">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="col-md-1">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>



<!----------------->









</body>
</html>