<!DOCTYPE html>
<html lang="en"  ng-app="iftttApp">
<link rel="stylesheet" type="text/css" href="./../css/registration/registration.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body>

<br>
<br>
<br>

<div id="registratiom-page" class="container-fluid">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
        </div>

        <div class="col-md-6">
            <div id="registration-jumbotron" class="jumbotron">
                <form id="registration-form" role="form" name="form" ng-controller="recoverpasswordController" novalidate>

                    <div class="container">

                            <!--Password-->
                            <div class="form-group">
                                <label style="color:rgba(255, 255, 255, 0.78)">Please insert the new password:</label>
                                <input type="password" class="form-control" id="pwd1" placeholder="insert your new password" required=""
                                       ng-model="user.pass1" name="pwd1"
                                       ng-minlength="2"
                                       ng-maxlength="20"
                                >
                                <div ng-show="form.pwd1.$invalid && !form.pwd1.$pristine || form.$submitted || form.pwd1.$touched">
                                    <span ng-show="form.pwd1.$error.required" style="color: #b81900">The password is mandatory</span>
                                    <span ng-show="form.pwd1.$error.minlength" style="color: #b81900">Password is too short.</span>
                                    <span ng-show="form.pwd1.$error.maxlength">Password is too long.</span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label style="color:rgba(255, 255, 255, 0.78)">Please retype your new password</label>
                                <input type="password" class="form-control" id="pwd2" placeholder="retype your new password" required=""
                                       ng-model="user.pass2" name="pwd2"
                                       ng-minlength="2"
                                       ng-maxlength="20"
                                >
                                <div ng-show="form.pwd2.$invalid && !form.pwd2.$pristine || form.$submitted || form.pwd2.$touched">
                                         <span ng-show="form.pwd2.$error.required" style="color: #b81900"></span>
                                        <span
                                            ng-show="form.pwd2.$error.required" style="color: #b81900">The password is mandatory
                                        </span>
                                    <span ng-show="form.pwd2.$error.minlength" style="color: #b81900">Password is too short.</span>
                                    <span ng-show="form.pwd2.$error.maxlength" style="color: #b81900">Password is too long.</span>
                                </div>
                                <span ng-show="form.pwd1.$error.match">Emails have to match!</span>
                                <span ng-show="IsMatch" style="color:#b81900">Error the two password does't egual</span>
                            </div>




                            <!--Lunghezza minima della password: 10 caratteri
                            Lunghezza massima della password: 20 caratteri
                            Standard del polito : https://idp.polito.it/Chpass/chpassservlet/main.htm
                            Per i test la password minima è stata messa a 2 caratteri.
                            -->

                            <button  type="submit" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="recoverPassword(user)">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="col-md-1">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>



<!----------------->









</body>
</html>
